<div class="aboute-eco-pharma bg-white" style="font-size: 18px;">
    <div class="container p-0">
      <div style="padding: 30px 0;">
        <h3 class="py-2">To'lovlar va Ecopharma xizmatlari </h3>
        <div class="row">
          <ol type="1" class="w-100">
            <li class="py-2">Biz quyidagilarni qabul qilamiz:</li>
            <ul  class="pl-4">
              <li>PayPal to'lov tizimidan foydalangan holda OnLine kartalari (UzCard)</li>
              <li>Naqd pul</li>
              <li>Hisobdagi bonus ballari (agar mavjud bo'lsa)</li>
              <li>Xalqaro viza va Master karta</li>
            </ul>
            <li class="py-2">LeBazar xizmatlari</li>
          </ol>
          <div class="w-100 pl-4">Buyurtmani qayta ishlash, shakllantirish va etkazib berish LeBazar xizmatining narxiga kiritilgan.</div>
          <ol class="w-100">
            <li class="py-2">Rejalashtirilgan yetkazib berish:</li>
          </ol>
          <div class="pl-4">Jadvalga ko'ra etkazib berish Buyurtmani joylashtirishda ko'rsatilgan vaqt oralig'ida amalga oshiriladi. Agar buyurtma miqdori 75000 so'mdan oshsa, yetkazib beriladigan xizmatlarning qiymati 5000 so'mni tashkil qiladi. Buyurtma miqdori 75000 so'mdan kam bo'lgan hollarda etkazib berish narxi 8000 so'mni tashkil etadi. Yetkazib berish 15 daqiqadan ko'proq kechikish bilan amalga oshirilsa, etkazib berish xizmatlari uchun to'lov olinmaydi.</div>
          <ol class="w-100">
            <li class="py-2">Shoshilinch yetkazib berish:</li>
          </ol>
          <div class="w-100 pl-4">Shoshilinch taslim buyurtma shakllanganidan keyin 60 minut ichida amalga oshiriladi. Xat vaqti buyurtma vaqtida aks etadi (+ -10 daqiqa). Favqulodda yetkazib berish narxi 15 000 so'm. Ekspressni yetkazib berish 15 daqiqadan ko'proq kechiktirilsa, etkazib berish xizmatlari uchun to'lov olinmaydi..</div>
          <ol class="w-100">
            <li class="py-2">Yuk tashish buyurtmalarining narxi 15000 so'mdan kam bo'lgan holda 10 000 so'mni tashkil etadi.</li>
            <li class="py-2">Men birinchi marta buyurtma berdim va ular menga keltirmadilar.</li>
          </ol>
          <div class="w-100 pl-4">Aziz do'stlarim. Agar siz birinchi marta buyurtma bergan bo'lsangiz, bizning operatorimiz tomonidan qo'ng'iroq paytida uni tasdiqlashingiz kerak. Siz buyurtma berganingizdan so'ng bizning operatorimizning taklifiga javob berishingizni so'raymiz. Chet eldan buyurtma bergan bo'lsangiz, iltimos, O'zbekiston bo'yicha aloqa raqamini kiriting. Agar biz kontakt ma'lumotlarini ishlatish bilan bog'lana olmasak, o'z xohishimiz bilan buyurtma bo'yicha buyurtma berish huquqini saqlab qo'yamiz yoki buyurtmani to'liq bekor qilamiz.</div>
          <ol class="w-100">
            <li class="py-2">6.Buyurtma og'irligi</li>
          </ol>
          <div class="w-100 pl-4 py-2">Buyurtma chegarasi 10 kg. Har bir qo'shimcha kilogramm yuk uchun qo'shimcha haq 500 so'm.</div>
          <div class="w-100 pl-4">
            Agar sizda savol bo'lsa, bizga <span class="text-success"> 99 908 76 77 </span> raqamiga qo'ng'iroq qilishingiz mumkin
          </div>
        </div>
      </div>
    </div>
  </div>