<div class="aboute-eco-pharma bg-white" style="font-size: 18px;">	
    <div class="container p-0">	
      <div style="padding: 30px 0;">	
        <h3 class="py-2">Savol va javoblar </h3>
        <div class="row">	
          <ol type="1" class="w-100">
            <li class="py-2">Yuk tashish qancha?</li>
            <ul  class="pl-4">
              <li>Buyurtma qiymati 75000 so'mdan rejalashtirilgan yetkazib berish 5000 so'mni tashkil qiladi va buyurtma vaqtida siz tanlagan rejaga muvofiq yetkaziladi.</li>
              <li>Buyurtma miqdori 75000 so'mgacha bo'lgan tarif rejasida yetkazib berish qiymati 8000 so'mni tashkil etadi</li>
              <li>Hisobdagi bonus ballari (agar mavjud bo'lsa)</li>
              <li>Zarurat bo'lsa, xarajatlarni 15 000 so'mga etkazish kerak (buyurtmani olgan paytdan boshlab 60 daqiqa ichida).</li>
            </ul>
          </ol>
          <div class="py-3">
            <div class="question w-100 pl-4 text-dark">Do'kondan qachon buyurtma bera olaman?</div>
            <div class="response w-100 pl-4 py-1">Biz har kuni 8:00 dan 23:00 gacha haftasiga etti kun buyurtmalar qabul qilamiz.</div>
          </div>
          <div class="py-3">
            <div class="question w-100 pl-4 text-dark">Do'kondan qachon buyurtma bera olaman?</div>
            <div class="response w-100 pl-4 py-2">Biz har kuni 8:00 dan 23:00 gacha haftasiga etti kun buyurtmalar qabul qilamiz.</div>
          </div>
          <div class="py-3">
            <div class="question w-100 pl-4 text-dark">Do'kondan qachon buyurtma bera olaman?</div>
            <div class="response w-100 pl-4 py-1">Biz har kuni 8:00 dan 23:00 gacha haftasiga etti kun buyurtmalar qabul qilamiz.</div>
          </div>
          <div class="py-3">
            <div class="question w-100 pl-4 text-dark">Do'kondan qachon buyurtma bera olaman?</div>
            <div class="response w-100 pl-4 py-2">Biz har kuni 8:00 dan 23:00 gacha haftasiga etti kun buyurtmalar qabul qilamiz.</div>
          </div>
          <div class="py-3">
            <div class="question w-100 pl-4 text-dark">Do'kondan qachon buyurtma bera olaman?</div>
            <div class="response w-100 pl-4 py-1">Biz har kuni 8:00 dan 23:00 gacha haftasiga etti kun buyurtmalar qabul qilamiz.</div>
          </div>
          <div class="py-3">
            <div class="question w-100 pl-4 text-dark">Do'kondan qachon buyurtma bera olaman?</div>
            <div class="response w-100 pl-4 py-2">Biz har kuni 8:00 dan 23:00 gacha haftasiga etti kun buyurtmalar qabul qilamiz.</div>
          </div>
          
        </div>
      </div> 
    </div>
  </div>