<div class="aboute-eco-pharma bg-white">	
    <div class="container p-0">	
      <div style="padding: 30px 0;">	
        <h3>Biz haqimizda</h3>
        <div class="row">	
          <div class="col-lg-7" >
            <div class="">
              <img src="assets/website/img/v3.png" alt="" class="py-3 img-fluid w-100">
            </div>
            <div >
              <div class="py-2"><span class="font-weight-bold">	EcoPharma</span> – интернет-магазин потребительских товаров.</div>
              У нас вы сможете найти более 5000 наименований товаров в различных категориях. Среднее время доставки товаров - два часа с момента осуществления заказа. Заказы принимаются и доставляются без выходных. У нас не существует минимальной суммы заказа. Оплата принимается в форме онлайн платежей и наличных средств. При выборе обычной доставки, доставка осуществляется бесплатно, во временном интервале, указанном при заказе.
            </div>
          </div>
          <div class="col-lg-5">	
            <div class="" style="position: relative;padding-top: 20px;">
              <h4 class="py-2">Biz bilan bog'lanish</h4>
              <div class="	" style="padding-left: 40px;">
                <div class="font-weight-bold" ><span class="fa fa-phone text-primary absolute" style="font-size: 22px;position: absolute;left:10px;"></span>	Telefon orqali bog'lanish</div>
                <div>Barcha savollaringiz bo’yicha o'zingizga ma’qul paytda, bizga qo'ng'iroq qiling: <br>	
                  <span class="fa fa-phone "></span>+998 99 908-76-77</div>
                  <div  class="font-weight-bold py-2"><span class="fa fa-envelope text-primary" style="position: absolute;left: 10px;font-size: 22px;"></span>Elektron pochta:<a href="#" class="text-success"> ecopharma@gmail.com</a></div>	
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>		