<div class="profil-about" style="min-height: 240px; padding: 10px 20px;">
    <div class="h4 py-2">Manzilga yetkazib berish</div>
    <form>
      <div class="form-row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="validationServer01">Tumanni kiriting <span style="color: red;"> *</span></label>
            <!-- <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Yunusobod" value="" required style="background-image: none;"> -->
            <select class="form-control is-valid"  style="background-image: none;" name="" id="">
                <option value="0" selected disabled> Tumanni kiriting</option>
                <option value="1"> Olmazor tumani</option>
                <option value="2"> Yunusobod tumani</option>
              </select>
          </div>
          <div class="mb-3">
            <label for="validationServer01">Mo'ljal <span style="color: red;"> *</span></label>
            <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Shahriston metrosi" value="" required style="background-image: none;">
          </div>
          <div class="mb-3">	
            <label for="validationServer01">Ko'cha nomi va uy raqami<span style="color: red;"> *</span></label>
            <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Amir Temur ko'chasi 117 uy" value="" required style="background-image: none;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="validationServer02">Ismingiz<span style="color: red;"> *</span></label>
            <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Shahzodbek" value="" required style="background-image: none;">
          </div>
          <div class="mb-3">
            <label for="validationServer02">Familyangiz<span style="color: red;"> *</span></label>
            <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Xolto'rayev" value="" required style="background-image: none;">	
          </div>	
          <div class="mb-3">
            <label for="validationServer02">Telefon raqamingiz</label>
            <input type="number" class="form-control is-valid" id="validationServer02" placeholder="+998996770001" value="" disabled>	
          </div>
        </div>
      </div>
      </form>
      <div class="w-100">

        <button class="btn btn-success   w-100" >Yuborish</button>
      </div>

    </div>