<footer>
    <div class="container-a
    p-0">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="footer-link"> 
          <a href="#">Biz haqimizda</a>
          <a href="#">To'lov va EcoPharm xizmatlari</a>
          <a href="#">Savol va javoblar</a>
          <a href="#">Ommaviy oferta</a>
        </div>
        <div class="footer-text">
          <div class="">
            Barcha savollaringiz bo’yicha o'zingizga ma’qul paytda, bizga qo'ng'iroq qiling: <span class="fa fa-phone">+998 71 200-11-12</span> 
          </div>
          <br>
          <div class="">
            E-pochta manzilingiz: <span>support@EcoPharm.uz</span>								
          </div>
          <br>
        </div>
        <div class="footer-text-about">
          2016 Internet-do’kon LeBazar.uz: Oziq-ovqat mahsulotlari, xo’jalik mollari, va boshqalar. 
          Mahsulotni yetkazib berish Toshkent hududida amalga oshiriladi. Barcha huquqlar himoyalangan.
        </div>
      </div>
      <div class="col-5 footer-about-image">
        <div class="row " style="padding-top: 30px;">
          <div class="col-6 ">
            <div class="footer-image">
              <img src="assets/website/img/Footer.png" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-6">
            <div class="footer-aplication">
              <div class="aplication-text">Ilovamizni o’rnating hamda xaridlarni oson amalga oshiring!</div>
              <div class="aplication-img">
                <a href="#"><img src="assets/website/img/aplication-1.png" alt="" class="img-fluid"></a>
                <a href="#"><img src="assets/website/img/aplication-2.png" alt="" class="img-fluid"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>