<!-- Responsiv menu left -->
<html lang="en">


<div class="modal left fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content scrollbar " id="style-1" style="border-radius: 0;">
            <div class="modal-header text-center">
                <a routerLink='' class="pl-5"><img src="assets/website/img/Новая папка (2)/logo_orign (3).png" alt="" style="width: 100px;" class=""></a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
            </div>
            <div class="modal-body p-0">
                <div class="">
                    <div class="title bg-white">
                        <!-- <a href="#"><img src="img/Новая папка (2)/logo_orign (3).png" alt=""></a> -->
                    </div>
                    <ul class="menu bg-white">
                        <li>
                            <span class="fa fa-map-marker"></span>
                            <a href="#">Bizning manzil</a>
                        </li>
                        <li *ngFor = "let category of categorys" routerLink="/pharms/category/{{category._id}}">
                            <a class=" list-group-item-action">{{category.name}}</a>
                            <span class="shop-right-icons "><i class="fa fa-angle-right"></i></span>
                        </li>
                        <!-- <li>
                            <a href="#">Dorilar katalogi</a>
                            <span class="shop-right-icons "><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li>
                            <a href="#">Dorilar katalogi</a>
                            <span class="shop-right-icons "><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li>
                            <a href="#">Dorilar katalogi</a>
                            <span class="shop-right-icons "><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li>
                            <a href="#">Dorilar katalogi</a>
                            <span class="shop-right-icons "><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li>
                            <a href="#">Dorilar katalogi</a>
                            <span class="shop-right-icons "><i class="fa fa-angle-right"></i></span>
                        </li> -->
                    </ul>
                    <ul class="menu bg-white">
                        <li>
                            <span class="fa fa-phone"></span>
                            <a href="#">Biz bilan bog'lanish</a>
                        </li>
                        <li>
                            <span class="fa fa-pencil-square-o"></span>
                            <a href="#">Savol va javoblar</a>
                        </li>
                        <li>
                            <span class="fa fa-bar-chart-o "></span>
                            <a href="#">Ommaviy oferta</a>
                        </li>
                        <li>
                            <span class="fa fa-language "></span>
                            <a href="#">Til</a>
                        </li>
                        <li>
                            <span class="fa fa-sign-in"></span>
                            <a href="#">Kirish  </a>
                        </li>
                    </ul>
                    <div class="resposive-text-about">
                        <div class="additional-information ">
                            <div class="">
                                Barcha savollaringiz bo’yicha o'zingizga ma’qul vaqtda, bizga qo'ng'iroq qiling: <span><i class="fa fa-phone"></i> +998 99 900 76 77</span><br> E-pochta manzilingiz: <span>support@lebazar.uz</span>
                            </div>
                            <div class="">
                                EcoPharm.uz: Dori-darmon mahsulotlari va boshqalar. Mahsulotni yetkazib berish Toshkent hududida amalga oshiriladi. Barcha huquqlar himoyalangan.
                            </div>
                            <div>
                                Ilovamizni o’rnating hamda xaridlarni oson amalga oshiring!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Responsiv menu left End -->




<header>
    <div class="wrapper-head" style="overflow: hidden">
        <div class="header-container container-a">
            <div class="wrapper-log d-inline-block">
                <!-- <span class="fa fa-map-marker"></span> -->
                <mdb-icon fas icon="map-marker-alt" class="red-text pr-1" aria-hidden="true"></mdb-icon>
                <a href="#">EcoPharma.uz</a>
            </div>
            <div class="sing-head ">
                <button routerLink="/admin"><mdb-icon fas class="cyan-text " size="2x" icon="person-booth"></mdb-icon></button>

            </div>
            <div class="sing-head ">

                <app-language></app-language>

                <!-- <a href="#"><img src="assets/website/img/uz-bayro.png" alt="" class="img-flag-uz"> </a>
        <a href="#" ><img src="assets/website/img/russian-flag.png" alt="" class="img-flag-ru"></a> -->
            </div>
            <div class="sing-head">
                <!-- <div class="header-mes-icons telegram-icons"> -->
                <a href="#">
                    <mdb-icon fab icon="telegram" size="2x" class="cyan-text pr-3" aria-hidden="true"></mdb-icon>
                </a>
                <!-- </div> -->
                <!-- <div class="header-mes-icons facebook-icons"> -->
                <a href="#">
                    <mdb-icon fab icon="facebook-square" size="2x" class="indigo-text pr-3" aria-hidden="true"></mdb-icon>
                    <!-- <span class="fa fa-facebook" ></span> -->
                </a>
                <!-- </div> -->
                <!-- <div class="header-mes-icons instagram-icons"> -->
                <a href="#">
                    <mdb-icon fab icon="instagram" size="2x" class="red-text pr-3" aria-hidden="true"></mdb-icon>
                    <!-- <span class="fa fa-instagram" ></span> -->
                </a>
                <!-- </div> -->
                <!-- <div class="header-mes-icons twitter-icons">							 -->
                <a href="#">
                    <mdb-icon fab icon="twitter-square" size="2x" class="cyan-text pr-3" aria-hidden="true"></mdb-icon>
                    <!-- <span class="fa fa-twitter" ></span> -->
                </a>
                <!-- </div> -->
            </div>
            <div class=" sing-head">
                <a href="#"><span class="fa fa-phone"></span> +998 99 666 66 66</a>
            </div>
        </div>
    </div>
    <div class=" header-logo-tem ">
        <div class=" d-inline-block logo ">
            <a href="#"><img src="assets/website/img/Новая папка (2)/logo_orign (3).png" alt="" class="img-fluid eco-logo"></a>
            <button type="button" class="button-bars-icon" data-toggle="modal" data-target="#exampleModal"><span class="bars-icons fa fa-bars"></span></button>

            <!-- <button
      data-pushbar-target="left"
       class="button-bars-icon"><span class="bars-icons fa fa-bars"></span></button> -->
        </div>
        <!-- <div class="wrap">
            <div class="search">
                <input type="text" #name class="searchTerm" placeholder="What are you looking for?">
                <button (click)="search(name.value)" class="searchButton"><i class="fa fa-search"></i></button>
            </div>
        </div> -->
        <div class="wrap-shopping">


          <div  class=" shop-card-icon shop-card-icon-border">
            <div data-toggle="modal" data-target="#myMod">
                <span class="fa fa-user users-icon"></span>
                <div class="carzinka-icons-text">Rasm jo'natish</div>
            </div>
        </div>

            <!-- KIRISH -->

            <div *ngIf="!data" class=" shop-card-icon shop-card-icon-border">
                <div data-toggle="modal" data-target="#myModall">
                    <span class="fa fa-user users-icon"></span>
                    <div class="carzinka-icons-text">{{'NAVBAR.SIGN' | translate}}</div>
                </div>
            </div>

            <!-- Mening Profilim add-->

            <div *ngIf="data" class=" shop-card-icon shop-card-icon-border">
                <nav class="tt-nav" id="js-tt-nav">
                    <ul class="tt-nav__list">
                        <li class="tt-nav__item" id="tt-media">
                            <a routerLink="/my-profil" class="tt-nav__link">
                                <span class="fa fa-user users-icon"></span>
                                <div class="carzinka-icons-text">{{'NAVBAR.PROFIL' | translate}}</div>
                            </a>
                            <ul class="tt-nav__submenu">
                                <li><a routerLink="/my-profil"><span class="fa fa-user"></span> Mening profilim</a></li>
                                <li><a routerLink="/my-profil/my-orders"><span class="fa fa-clock-o"></span> Buyurtmalar ro'yxati</a></li>
                                <li><a routerLink="/my-profil/my-adress"><span class="fa fa-map-marker"></span> Manzillarim ro'yxati</a></li>
                                <li><a routerLink="/my-profil/my-should"><span class="fa fa-star"></span> Saralangan dorilar</a></li>
                                <li><a routerLink="/my-profil/my-pharms"><span class="fa fa-eye"></span> Ko'rilgan maxsulotlar</a></li>
                                <li><a href="#!"><span class="fa fa-money disabled"></span> Hamyonim:<span class="font-weight-bold">0 b</span></a></li>
                                <li><a href="#!"><span class="fa fa-sign-out"></span> Tizimdan chiqish</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Mening Profilim end -->
            <a routerLink="/comparison">
                <div class="shop-card-icon shop-comparison">
                    <span class="fa fa-bar-chart"></span>
                    <!-- <sup>0</sup> -->
                    <div class="carzinka-icons-text">{{'NAVBAR.TAQQOSLASH' | translate}}</div>
                </div>
            </a>
            <a routerLink="/basket">
                <div class="shop-card-icon">
                    <span class="fa fa-shopping-cart"></span><sup *ngIf="a > 0">{{a}}</sup>
                    <div class="carzinka-icons-text">{{'NAVBAR.SAVAT' | translate}}</div>
                </div>
            </a>

        </div>
    </div>
</header>


<div class="padding-all"></div>


<router-outlet></router-outlet>

<app-footer></app-footer>

<div class="modal fade" id="myMod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabell" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content modal-registration">
          <div class="modal-header border-b-0" style="border-bottom: 0;">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
              <div class="w-100 text-center pt-4">
                  <img src="assets/website/img/Новая папка (2)/logo_orign (3).png" alt="" style="width: 150px;">
              </div>
          </div>
      <form [formGroup]="form" (submit)="retsept()">
          <div class="modal-body py-0">
              <p>Vrach tavsiya qilgan retseptni rasmini bizga jo'nating. Biz sizga qayta aloqaga chiqamiz</p>
              <label>
            <div class="w-100 modal-input">
              <input type="file" #file formControlName="image" class="form-control" placeholder="Photo" mdbInput>
              <br><br>
                <input type="text" formControlName="number"  #phone prefix="+998 " mask="(00) 000 00 00" class="form-control" placeholder="Enter Phone Number" mdbInput>
            </div>
          </label>
          </div>
          <div class="modal-footer border-t-0" style="border-top: 0;">
              <button type="submit "  class="btn w-100">Yuborish</button>
          </div>
        </form>
      </div>
  </div>
</div>


<div class="modal fade" id="myModall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabell" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-registration">
            <div class="modal-header border-b-0" style="border-bottom: 0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
                <div class="w-100 text-center pt-4">
                    <img src="assets/website/img/Новая папка (2)/logo_orign (3).png" alt="" style="width: 150px;">
                </div>
            </div>
            <div class="modal-body py-0">
                <p>Ro'yxatdan o'tish uchun telefon raqamingizni kiriting va kodni tasdiqlang</p>
                <form>
                    <label>
              <div class="w-100 modal-input">

                  <!-- <mat-form-field class="example-full-width">
                      <input matInput placeholder="Enter Phone Number" #name2 prefix="+998 " mask="(00) 000 00 00"  >
                    </mat-form-field> -->
                  <input type="text" #number prefix="+998 " mask="(00) 000 00 00" class="form-control" placeholder="Enter Phone Number" mdbInput>
                <!-- <input style="width: 80px;" type="text" maxlength="55" class="input-field" value="+998"> -->
                <!-- <input type="text" maxlength="255" class="input-field" type="hidden" placeholder="Telefon raqamingiz" style="padding: 8px 28px;"> -->
              </div>
            </label>
                </form>
            </div>
            <div class="modal-footer border-t-0" style="border-top: 0;">
                <button type="button " data-toggle="modal" data-target="#myModall-2 " class="btn w-100">Yuborish</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModall-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabell" aria-hidden="true" style="    background-color: rgba(0,0,0,.4);">
    <div class="modal-dialog" role="document">
        <div class="modal-content w-75 m-auto">
            <div class="modal-header p-0" style="border-bottom: 0;">
                <h3 class="modal-title text-center w-100 text-black" id="exampleModalLabel">
                    {{number.value}}</h3>
            </div>
            <div class="modal-body p-0">
                <p class="text-dark">Raqamingiz to'g'ri ko'rsatilganmi ?</p>
            </div>
            <div class="modal-footer pt-2 pb-4 " style="border-top: 0;">
                <button type="button " class="btn " data-dismiss="modal"><span class="fa fa-edit" ></span> O'zgartirish</button>
                <button type="button " data-toggle="modal" data-target="#myModall-3 " class="btn "><i class="fa fa-check"></i> Ha</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModall-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabell" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-registration">
            <div class="modal-header border-b-0" style="border-bottom: 0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
                <div class="w-100 text-center pt-4">
                    <img src="assets/website/img/Новая папка (2)/logo_orign (3).png" alt="" style="width: 150px;">
                </div>
            </div>
            <div class="modal-body py-0">
                <p>Sizga kodni SMS orali jo'natdik</p>
                <form>
                    <label>
              <div class="w-100 modal-input">
                  <input type="text" #kod placeholder="Enter kod">
                <!-- <input type="text" maxlength="255" class="form-control" type="hidden" placeholder="SMSda kelgan kodni kiriting"  > -->
              </div>
            </label>
                </form>
            </div>
            <div class="modal-footer py-2" style="border-top: 0;">
                <button type="button " (click)="addUser(number.value, kod.value)" class="btn w-100 px-5 outline-none">Tasdiqlash</button>
            </div>
            <div class="w-100 text-center">Siz kodni qabul qildingizmi? Raqam noto'g'rimi? <br>
            </div>

            <div class="w-100 text-center" style="padding-bottom: 50px;"><a href="#" class="text-success">Kodni qaytadan kiriting</a></div>
        </div>
    </div>
</div>

</html>
