<div class="aboute-eco-pharma bg-white" style="font-size: 18px;">	
    <div class="container p-0">	
      <div style="padding: 30px 0;">	
        <h3 class="py-2">Ommaviy oferta </h3>
        <div class="row">	
          <ol type="1" class="w-100">
            <li>"LEAN SAVDO LOYIHALARI" mas'uliyati cheklangan jamiyati (bundan buyon matnda LEBAZAR deb yuritiladi) ushbu taklifni qabul qilgan shaxslarga www.lebazar.uz sayti orqali Mahsulotlar buyurtmalarini olish va ularni etkazib berishni tashkil etish (quyida «Shartnoma») orqali quyida ko'rsatilgan harakatlar amalga oshirilishini ta'minlaydi.</li>
            <li>Ushbu hujjat ochiq taklif va www.lebazar.uz sayti orqali tovarlarga buyurtma olish uchun axborot xizmatlarini taqdim etish va ularni etkazib berishni tashkil etish bo'yicha shartnoma tuzish bo'yicha taklif mavjud.
            ShARTLARI VA TUZILIShI.</li>
            <li>LEBAZAR - SUPPLIER bilan shartnoma tuzgan va Ta'minlovchining mollarini lebazar.uz veb-saytida taqdim etgan yuridik shaxs;</li>
            <ul class="pl-4">
              <li>Agent / Shopper, ShoperApp orqali olingan mijoz buyurtmalarini qabul qilish, etkazib beruvchining do'konida buyurtma berish va xaridorga mahsulot etkazib berish bo'yicha harakatlarni amalga oshiruvchi LeBazar bilan shartnoma tuzgan shaxs;</li>
              <li>Yetkazib beruvchilar - libazar tizimi orqali aholiga tovarlarni sotadigan va sotilgan tovarlar uchun jismoniy shaxslardan mablag'lar oladigan yuridik shaxs;</li>
              <li>Qabul qiluvchi / Xaridor - LeBazar tizimidan yakuniy iste'mol qilish uchun Ta'minlovchidan tovarlar sotib olgan va lebazar.uz veb-saytida joylashtirilgan ommaviy oferta shartlarini qabul qiladigan shaxs;</li>
              <li>LEBAZAR tizimi LEBAZAR tomonidan taqdim etilgan tashkiliy, axborot va texnik echimlarning apparat-dasturiy kompleksi bo'lib, mijozlar buyurtmalarini lebazar.uz veb-saytida qabul qilishni va Agentga buyurtmalar yuborishni ta'minlaydi;</li>
              <li>Tovarlar - ro'yxat LEBAZAR tomonidan lebazar.uz saytida ko'rsatilgan Ta'minlovchiga tegishli bo'lgan tovarlar;</li>
              <li>Buyurtma - lebazar.uz saytida tuzilgan va LEBAZAR tizimida saqlanadigan, xaridorning identifikatorini, ro'yxatini, miqdorini, tovar narxini va boshqa ma'lumotlarni o'z ichiga olgan elektron xaridor tomonidan yuborilgan elektron buyurtma;</li>
              <li>Tekshiruv - etkazib beruvchi tomonidan chop etilgan va mol uchun to'lovdan so'ng mijozga berilgan hujjat;</li>
              <li>Plastik bank kartasi bank tomonidan kartochka egasining hisob raqamining mavjudligini tasdiqlovchi va naqd pulsiz to'lovni amalga oshirish huquqini beruvchi bank tomonidan beriladigan shaxsiylashtirilgan to'lov vositasidir.</li>
              <li>Qabul qilish - taklif qabul qilingan shaxsning uni qabul qilishiga javob;
              Takliflar - bir kishiga, bir nechta o'ziga xos shaxslarga yoki noma'lum shaxslar doirasiga taklifnoma, shartnoma shartlarining barcha shartlarini o'z ichiga oladigan, taklif qiladigan shaxsning xohishi (taklif etuvchisi) ko'rilgan taklif bilan belgilangan shartlar bo'yicha shartnoma tuzishga taklif qiladi;</li>
              <li>Buyurtmani mijozga etkazib berish uchun yetkazib berish - kuryerlik xizmatlari.</li>
            </ul>
          </ol>

          <ol>
            <li>Shartnoma mavzusi</li>
            <ul class="pl-4">
              <li>Shartnoma LeBazar tizimi orqali etkazib berish va yetkazib berish tartibini belgilaydi va aniq bo'lmagan odamlar doirasiga yuborilgan ochiq taklif (bundan keyin «taklif» deb ataladi).</li>
              <li>Ushbu taklifni qabul qilish - bu lebazar.uz saytida buyurtma qilingan tovarlarni xaridor tomonidan to'lashdir.</li>
              <li>LEBAZAR veb-sayti orqali sotib olingan mahsulotlar Yetkazib beruvchining do'konida ko'rsatilgan narxdan yuqori bo'lgan mahsulotni qaytarish uchun aktsiyalar bilan qoplanmaydi va Ta'minlovchining Buyurtmachiga berilgan Buyurtmachining sodiqlik kartasi qabul qilinmaydi.</li>
            </ul>
          </ol>
          <ol>
            <li>BUYURTMA.</li>
            <ul class="pl-4">
              <li>
              Mahsulotlar LeBazar tizimidan foydalanib, www.lebazar.uz saytidan xaridor tomonidan buyurtma qilinadi. Buyurtma berish paytida, Xaridor quyidagi ma'lumotlarni taqdim etishi shart:	</li>
              <ul class="pl-5">
                <li>familiyasi, ismi, otasining ismi (rus tilida);</li>
                <li>tovarlarning haqiqiy yetkazib berish manzili;</li>
                <li>aloqa telefon raqami;</li>
                <li>tovarlarning nomi, tovar, tovar turi, sotib olingan tovarlar guruhiga kiritilgan mahsulotlarning soni, tovarlar narxi;</li>
                <li>Qabul qiluvchilarning fikri bo'yicha qo'shimcha ma'lumotlar.</li>
              </ul>
              <li>Buyurtmani joylashtirishda Xaridchilar tomonidan taqdim etilgan ma'lumotlarning mazmuni va aniqligi uchun LeBazar javobgar emas.</li>
              <li>Buyurtma berish paytida berilgan ma'lumotlarning to'g'riligi uchun xaridor javobgardir.</li>
              <li>Xaridor tomonidan Buyurtmani to'lash Ochiq taklif shartlari bilan Qabul qiluvchilarning kelishuvini anglatadi. Lebazar.uz saytida taqdim etiladigan barcha axborot materiallari faqat ma'lumot uchun berilgan va tovarning muayyan xususiyatlari va tavsifi haqida ishonchli ma'lumotni to'liq etkazib bera olmaydi.</li>
              <li>Buyurtmachining mol-mulki va xususiyatlari bilan bog'liq har qanday savol bo'lsa, Buyurtmani joylashtirishdan oldin u maslahat uchun yetkazib beruvchiga murojaat qilish kerak.</li>
              <li>Xaridor o'zingiz haqida ro'yxatdan o'tish ma'lumotlarini tahrirlash huquqiga ega.</li>
            </ul>
          </ol>
          <ol>
            <li>To'lov tartibi</li>
            <ul class="pl-4">
              <li>Tovarlarni to'lash naqd pulsiz to'lov bilan, lebazar.uz saytidan, shuningdek buyurtmani olganidan keyin naqd pul bilan amalga oshiriladi.</li>
              <li>Naqd pulsiz to'lovlar faqat mijozlar tomonidan quyidagi tarzda amalga oshiriladi:</li>
              <ul class="pl-5">
                <li>LBazar tizimidagi mijozning shaxsiy hisobvarag'idan mijozning bank plastik kartasidan pul mablag'larini o'tkazish yo'li bilan;</li>
                <li>chakana to'lovlar tizimi (onlayn to'lov) orqali;</li>

              </ul>
              <li>Buyurtmaning umumiy qiymati Buyurtmachini lebazar.uz saytida Buyurtmani tasdiqlash vaqtida etkaziladi.</li>
              <li>	Lebazar.uz veb-saytida ko'rsatilgan tovarlar va etkazib berish narxlarining narxi LEBAZAR tomonidan bir tomonlama ravishda Xaridni xabardor qilmasdan o'zgartirilishi mumkin.</li>
              <li>Veb-saytda ko'rsatilgan narxlar etkazib beruvchining shelfidagi narxlarga mos kelmasligi mumkin. Bunday hollarda tovarlarni yetkazib berish uchun eng so'nggi va to'g'ri narx - etkazib beruvchining (supermarketning) shelfida ko'rsatilgan va chekda ko'rsatilgan narx hisoblanadi.</li>
              <li>Buyurtmani to'lash Buyurtmachi tomonidan Buyurtma qiymatining 100% qiymatini ushbu taklifda ko'rsatilgan usullardan foydalanib buyurtmani tasdiqlaganidan keyin o'tkazilishi kerak. Naqd pul to'lashda, mijoz Agent tomonidan Agentga to'lanadi.</li>
              <li>Tovarlarni rasmiylashtirish va buyurtmanomani to'plashdan so'ng yetkazib beruvchining naqd pul mablag'lari summasi bepul yetkazib berish shartlarini qo'llash uchun asosdir. Ya'ni buyurtmaning buyurtma miqdori minimal chegarani o'zgartirib, oshgan bo'lsa, etkazib berish miqdori bepul jo'natiladi. Agar tovarlarni yig'ish jarayonida naqd pulni qabul qilish summasi minimal buyurtma miqdoridan past bo'lsa, buyurtma miqdori yetkazib berish shartlariga muvofiq to'lanadi.</li>
              <li>Qabul qiluvchidan qaytarish rad etilganligi, ya'ni m holatlarga asos bo'lganda amalga oshiriladi.</li>
              <ul class="pl-5">
                <li>	tovarlarni to'liq yetkazib berish;</li>
                <li>buyurtma bo'yicha ko'rsatilmagan tovarlarni etkazib berish;</li>
                <li>etkazib berilayotgan mahsulot sifati yomonlashtirilgan sifatsiz mahsulot.</li>
                <li>shartnomada nazarda tutilgan boshqa hollar.</li>
              </ul>
              <li>Tovarlarni rad etish sanasidan boshlab 10 ish kuni ichida quyidagi tartibda qaytarib berish muddati:</li>
              <ul class="pl-5">
                <li>Buyurtmaning to'liq bekor qilingan taqdirda Ta'minlovchiga to'langan plastik bank kartochkasida:</li>
                <li>LEBAZARni Lebazar tizimidagi xaridorning virtual hisobiga bonuslar shaklida kreditlash orqali, buyurtman qisman bekor qilingan taqdirda 1 bonus ball 1 sum.</li>
              </ul>
            </ul>
          </ol>
          <ol>
            <li>Mahsulotlarni yetkazib berish</li>
            <ul class="pl-4">
              <li>Tovarlarni etkazib berish Toshkent shahrida uchinchi shaxslar ishtirokida amalga oshiriladi.</li>
              <li>Tovarlarni etkazib berish muddati Tovarlarni to'lashdan so'ng mijozning shaxsiy hisobida ko'rsatiladi.</li>
              <li>Agar Buyurtma etkazib berish vaqtida Buyurtmani yoki uning qismini rad etsa, Xaridor yukni etkazib berish narxini to'laydi va buyurtmani do'konga qaytarib beradi, tovarni qabul qilish paytida, Agentning aybiga qarab, xaridor noto'g'ri miqdorda, assortiment yoki komplektni etkazib berganligi aniqlangan hollar bundan mustasno.</li>
              <li>LeBazar-ning xaridorga mol-mulkni topshirish majburiyati Agent Agentga Buyurtmachini etkazib bergan vaqtida amalga oshirilgan deb hisoblanadi.</li>
              <li>Buyurtmani olganidan so'ng, Buyurtmachi tovarlar mahsulotning e'lon qilingan miqdori, assortimenti va komplektligiga muvofiqligini tekshirish, shuningdek, tovarlarning saqlash muddatini cheklangan saqlash muddati bo'lgan tovarlarga tekshirishga majburdir.</li>
              <li>Da'volarni ko'rib chiqish. Yetkazib beriladigan tovarlar Xaridchiga va xaridor bo'lmagan taqdirda - Xaridor tomonidan Buyurtma Qabul qiluvchi sifatida taqdim etgan yoki ko'rsatgan har qanday shaxsga beriladi. Mollarni topshirish paytida, Kurer, firibgarlik holatlarini oldini olish uchun oluvchining identifikatsiya hujjatlarini talab qilishga haqlidir.</li>
              <li>Tovarlarning egalik qilishi, shuningdek, tasodifiy yo'qotish yoki unga zarar etkazish xavfi tovarni topshirish va unga chegirmalar orqali xaridorga o'tadi. Buyurtma tovarni topshirish vaqtida etkazib berilayotgan deb hisoblanadi va Xaridga murojaat qiladi. Tovarni qabul qilish, Xaridor Buyurtmani bajarilishini tasdiqlaydi.</li>
            </ul>
          </ol>
          <ol>
            <li>E'tirozlarni ko'rib chiqish</li>
            <ul class="pl-4">
              <li>LEBAZAR mijozlar talablarini quyidagilar bilan bog'liq holda ko'rib chiqadi:</li>
              <ul class="pl-5">
                <li>tovarlarni to'liq yetkazib berish;</li>
                <li>buyurtma bo'yicha ko'rsatilmagan tovarlarni etkazib berish;</li>
                <li>sifati yetkazib berish jarayonida yomonlashtirilgan sifatsiz tovarlar.</li>
                <li>agar tovar narxi LeBazar tizimida o'zgarmagan bo'lsa, tovarlarni etkazib beruvchi do'konida ko'rsatilgan narxdan yuqori narxda sotib olish.</li>
              </ul>
              <li>Bunday hollarda LEBAZAR etkazib berilmaydigan tovarlarni yetkazib berishni tashkil qiladi, tovarni tegishli mijozning LeBazar tizimidagi arizasi bilan almashtiradi. Agar ushbu shartlardan birini amalga oshirish mumkin bo'lmasa, mablag'lar 6.1-bandda ko'zda tutilgan tartibda mijozga qaytariladi. Shartnomaning 4-bo'limi.</li>
              <li>Buyurtma qabul qilinganda Buyurtma hech qanday da'vo qo'zg'atsa, tovar To'liq va to'g'ri deb qabul qilinadi.</li>
              <li>Sotib olingan tovarlar sifati va mol-mulkni olish va sotib olishdan kelib chiqadigan talablar quyidagi tartibda ko'rib chiqiladi:</li>
              <ul class="pl-4">
                <li>1. Quyidagi toifadagi tovarlarni qaytarish faqatgina olingan kundan keyin 2 soat ichida amalga oshirilishi mumkin:</li>
                <ul class="pl-5">
                  <li>- Sabzavotlar va mevalar</li>
                  <li>- tuxum / sut va sut mahsulotlari</li>
                  <li>- go'sht va go'sht mahsulotlari</li>
                  <li>- baliq va baliq mahsulotlari</li>
                  <li>- non va non mahsulotlari</li>
                  <li>- kek va shirinliklar</li>
                  <li>- muzlatilgan ovqatlar</li>
                  <li>Ushbu muddat tugagach, LeBazar yuqorida ko'rsatilgan narsalarni qaytarmaslik huquqiga ega.</li>
                  <li>Bunday hollarda mijoz iste'molchilarni himoya qilish to'g'risidagi qonunga va tegishli yetkazib beruvchining qoidalariga muvofiq etkazib beruvchiga to'g'ridan-to'g'ri so'rov yuborish orqali tovarlarni qaytarib berish huquqiga ega.</li>
                </ul>
              </ul>
            </ul>
            <li>Boshqa toifadagi tovarlarni qaytarib olish mahsulotni sotib olganidan keyin 24 soat ichida amalga oshirilishi mumkin</li>
            <ul class="pl-4">
              <li>3. Agar ular ochilgan va qisman ishlatilsa, qaytarib berilmaydigan yoki almashtirilmaydigan toifadagi toifalar</li>
              <ul class="pl-5">
                <li>- Shaxsiy gigiena vositalari.</li>
              </ul>
            </ul>
          </ol>
          <ol>
            <li>Javobgarlik</li>
            <ul class="pl-4">
              <li>Pudratchi javobgar emas:</li>
              <ul class="pl-5">
                <li>telekommunikatsiya tarmoqlarining sifati, shuningdek, telekommunikatsiya xizmatlarini taqdim etishdagi kechikish va uzilishlar uchun, LEBAZAR xatosi tufayli kelib chiqadi.</li>
                <li>LEBAZAR va Xaridchilar tomonidan uchinchi shaxslar tomonidan taqdim etilgan (taqdim etadigan) telekommunikatsiya xizmatlarining uzilishlari bilan bog'liq xizmatlar ko'rsatishda uzilishlar va uzilishlar.</li>
                <li>agar LEBAZAR xizmatlarining sifati kam bo'lsa, mijoz taklifining shartlarini noto'g'ri bajarilishi natijasida paydo bo'lgan.</li>
                <li>har qanday sabab tufayli, shu jumladan, xizmatdan foydalanishda yoki ishlatib bo'lmagani yoki xatolar, kamchiliklar, ishdagi uzilishlar, funktsiyalardagi o'zgarishlar, ma'lumotlarni uzatishda LEBAZAR tizimining ishlashida kechikishlar va boshqa sabablar tufayli kelib chiqqan har qanday zarar uchun. s.</li>
                <li>LEBAZAR tizimining har qanday (vaqtinchalik va / yoki qisman) noto'g'ri ishlashiga, uzilishiga, to'xtatilishiga yoki mavjud emasligiga nisbatan.</li>
                <li>mijoz tomonidan parol, ID, boshqa axborotni oshkor qilganligi uchun etkazilgan zarar uchun.</li>
                <li>o'zingiz haqingizdagi noto'g'ri ma'lumotlarning tartibini joylashtirganda Qabul qiluvchining xabarini etkazib berish shartlarini buzganlik uchun.</li>
                <li>lebazar.uz saytida sotib olingan Mahsulotni xaridor tomonidan noto'g'ri ishlatish uchun.</li>
              </ul>
              <li>LEBAZAR buyurtma berishdan bosh tortgan taqdirda, xaridorga yangi Buyurtmani berishdan bosh tortish huquqini o'zida saqlab qoladi.</li>
              <li>LeBazar har qanday mijozga pulni zudlik bilan qaytarib berishni taklif qilishdan bosh tortish huquqini o'zida saqlab qoladi, agar u ularni to'g'ri va samarali ishlashga qodir bo'lmasa, deb hisoblasa.</li>
              <li>Xaridor taqdim etilgan ma'lumotlarning mazmuni va aniqligi uchun javobgardir.</li>
            </ul>
            <li>FAVQULODDA VAZIYAT</li>
            <ul class="pl-4">
              <li>Tomonlar ushbu shartnoma bo'yicha o'z majburiyatlarini bajarmaslik yoki noto'g'ri bajarish uchun javobgar emaslar, agar bunday bartaraf Tomonlarga bog'liq bo'lmagan, ayniqsa tabiiy ofatlar, texnik noto'g'ri yondashuvlar, yong'inlar, qo'zg'olonlar, inqiloblar, harbiy harakatlar, yuqorida keltirilgan holatlardan ta'sirlangan deb tan olingan hududlarda yuzaga keladigan karantin yoki boshqa ofatlar e'lon qilinadi.</li>
            </ul>
            <li>Shubhalarni bartaraf etish tartibi</li>
            <ul class="pl-4">
              <li>Shartnomani bajarish jarayonida yuzaga keladigan barcha kelishmovchiliklar kelishuv yo'li bilan tomonlar tomonidan kelishuv yo'li bilan ko'rib chiqiladi.</li>
              <li>Shartnoma tuzilmagan taqdirda nizolar O'zbekiston Respublikasining amaldagi qonunchiligida belgilangan tartibda ko'rib chiqiladi.</li>
              <li>Ushbu Shartnomada ko'zda tutilmagan barcha sharoitlarda Bitimning Tomonlari O'zbekiston Respublikasining amaldagi qonunchiligiga asosan amal qiladi.</li>
            </ul>
            <li>Malumotni tashkil etish</li>
            <ul class="pl-4">
              <li>LEBAZAR O'zbekiston Respublikasining qonunlariga muvofiq xaridor to'g'risidagi shaxsiy ma'lumotlarning xavfsizligini ta'minlashga, Shartnomani bajarish bilan bog'liq bo'lmagan uchinchi tomonlarga, shuningdek, tegishli konfidentsiallik rejimiga rioya qilmasdan Qabul qiluvchilarning ma'lumotlariga xabar bermaslik majburiyatini oladi.</li>
              <li>Ushbu Oferta shartlariga muvofiq Shartnomani tuzish uchun, shuningdek, LEBAZAR tomonidan Shartnomani to'g'ri bajarilishi uchun, Xaridchi LEBAZARga va LEBAZAR tomonidan tasdiqlangan shaxslarga shaxsiy ma'lumotlarini qayta ishlashga ruxsat beradi. LEBAZAR shaxsiy ma'lumotlarning maxfiyligini ta'minlashga sodiqdir.</li>
              <li>Xaridor Shartnomani tuzish va bajarish uchun Xaridning shaxsiy ma'lumotlari kurerlik xizmatlari uchun maxfiylik sharti bilan LEBAZARga berilishi mumkinligini anglaydi va qabul qiladi.</li>
              <li>LEBAZAR xaridor bilan telefon orqali suhbatlar yozish huquqiga ega.</li>
            </ul>
            <li>Intellektual mulkni himoya qilish.</li>
            <ul class="pl-4">
              <li>LEBAZAR veb-saytida joylashtirilgan barcha matn va grafik tasvirlar LEBAZARning mulki hisoblanadi. LEBAZARning roziligisiz bunday ma'lumotlarning va / yoki tasvirlarning uchinchi tomonlaridan foydalanish LEBAZARning huquqlarini buzilishi va O'zbekiston Respublikasining amaldagi qonunchiligida nazarda tutilgan javobgarlikka sabab bo'lishi mumkin.</li>
            </ul>
            <li>Boshqa shartlar</li>
            <ul class="pl-4">
              <li>Ushbu Shartnoma bilan tartibga solinmagan xaridor va LEBAZAR o'rtasidagi munosabatlar O'zbekiston Respublikasi qonunlari bilan tartibga solinadi.</li>
              <li>Sotib oluvchidan LEBAZARga biron bir savol yoki shikoyat bo'lsa, u ularni quyidagi usullardan birida e'lon qilishi mumkin:</li>
              <ul class="pl-5">
                <li>LEBAZAR hotlineni chaqirish 71 200 11 12;</li>
                <li>Toshkent shahri, Chilonzor tumani, 1-chorra, 6-uy, 100115, Toshkent sh.</li>
                <li>LEBAZAR: info@lebazar.uz elektron manziliga xat yozing</li>
              </ul>
              <li>LEBAZAR har qanday vaqtda, ushbu Ofertaning matnini www.lebazar.uz veb-saytida yangi tahrirda joylashtirish orqali ushbu Oferta shartlariga o'zgartirish kiritishi mumkin. O'zgartirishlar Buyurtmachilar va uchinchi tomonlar uchun Ofertaning matnini yangi nashrda www.lebazar.uz LEBAZARda yoki Oferta'da ko'rsatilgan sana joylashtirilgan paytdan boshlab kuchga kiradi.</li>
              <li>Www.lebazar.uz saytining "To'lov va LeBazar xizmatlari" bo'limi taklifning ajralmas qismi hisoblanadi.</li>
            </ul>
          </ol>
        </div>
      </div> 
    </div>
  </div>		